body{

background:black;
color:white;
font-family:Arial;
margin:0;
overflow-x:hidden;

}



/* START SCREEN */

#startScreen{

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:radial-gradient(circle,#001a22,#000);

}

.start-btn{

padding:15px 30px;
font-size:18px;
background:#00eaff;
border:none;
border-radius:30px;
cursor:pointer;

}



/* HERO */

.hero{

height:60vh;

background:
linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),
url("images/img30.jpeg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;
text-align:center;

}



/* DIVA */

.diva{

padding:30px;
text-align:center;

}

.diva-grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:10px;

}

.diva-grid img{

width:100%;
border-radius:10px;

}



/* GALLERY BACKGROUND */

.gallery-section{

position:relative;
min-height:120vh;
overflow:hidden;

}



/* SMALL MASONRY GRID */

.gallery-wall{

column-count:8;
column-gap:4px;
opacity:0.35;

animation:scrollGallery 60s linear infinite;

}

.gallery-wall img{

width:100%;
margin-bottom:4px;
border-radius:4px;

}



/* MOVING EFFECT */

@keyframes scrollGallery{

0%{

transform:translateY(0);

}

100%{

transform:translateY(-50%);

}

}



/* ROAST SECTION */

.roast-overlay{

position:absolute;
top:40%;
left:50%;

transform:translate(-50%,-50%);

background:rgba(0,0,0,0.75);

padding:40px;

border-radius:15px;

text-align:center;

}

.roast-overlay ul{

list-style:none;

}

.roast-overlay li{

margin:10px 0;

}



/* MOBILE */

@media(max-width:900px){

.gallery-wall{

column-count:5;

}

}

@media(max-width:600px){

.gallery-wall{

column-count:3;

}

.hero{

height:45vh;

}

}